<div class="mt-5">
  <div class="container mb-7 px-2 w-full text-center mx-auto">
    <h1 class="text-2xl font-semibold">Fasting Restrictions for <%= @fasting_days.first.date.strftime("%B %Y") %></h1>
  </div>
  <div class="flex justify-center">
    <div class="flex flex-col items-center">
      <% @fasting_days.each do |fasting_day| %>
        <% if fasting_day.fasting_code.to_i > 0 %>
          <%= link_to foods_path(restriction_code: fasting_day.fasting_code) do %>
            <div id="day-<%= fasting_day.date.day %>" class="text-slate-900 shadow-lg shadow-slate-400/60 my-3 w-52 p-4 pt-16 pb-4 rounded hover:scale-105 transform-gpu ease-in-out duration-150 cursor-pointer">
              <p class="text-2xl text-center"><%= fasting_day.date.day.ordinalize %></p>
              <p class="text-center mb-8"><%= fasting_day.get_readable_restriction %></p>
              <p class="text-xs text-center text-gray-500">Click for meal ideas</p>
            </div>
          <% end %>
        <% else %>
          <div id="day-<%= fasting_day.date.day %>" class="text-slate-900 shadow-lg shadow-slate-400/60 my-3 w-52 p-4 py-16 rounded">
            <p class="text-2xl text-center"><%= fasting_day.date.day.ordinalize %></p>
            <p class="text-center"><%= fasting_day.get_readable_restriction %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="border-4 border-black h-100 ml-10 rounded relative font-bold">
      <div class="absolute text-4xl flex" id="day-tracker"></div>
    </div>
  </div>
</div>
<div class="text-center py-8">
  <p class="text-xl">Made in ðŸ‡ºðŸ‡¸ by <a class="text-sky-500 underline" href="https://joshcsimmons.com">Josh C. Simmons</a></p>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var date = new Date().getDate();
    var hours = new Date().getHours();
    var id = 'day-' + date;
    var today = document.getElementById(id);
    var emoji = document.getElementById('day-tracker');

    var offset = window.pageYOffset + today.getBoundingClientRect().top;
    var cardHeight = today.getBoundingClientRect().height;
    var timeOffset = (cardHeight / 22) * hours

    emoji.style.transform = `translate(-50%, ${offset - cardHeight + timeOffset}px)`;

    if(hours < 6 || hours > 20) {
      emoji.innerHTML = 'ðŸŒš';
    } else if(hours < 16) {
      emoji.innerHTML = 'ðŸŒž';
    } else if(hours < 19) {
      emoji.innerHTML = 'ðŸŒ';
    } else {
      emoji.innerHTML = 'ðŸŒš';
    }

    today.classList.add("border-t-4", "border-t-black");
    today.scrollIntoView({ block: 'center', behavior: 'smooth' });
     }, false);
</script>
