<div class="container mx-auto p-12 ">
  <div >
    <h1 class="text-4xl text-center mb-4"><%= @title %></h1>
  </div>
  <% if @food_data %>
    <div class="flex flex-wrap justify-center">
      <% @food_data.each do |data| %>
        <div class="flex flex-col justify-between text-slate-900 shadow-lg shadow-slate-400/60 my-3 p-4 py-8 rounded mx-2">
          <div>
            <p class="text-lg text-center mb-6"><%= data.description %></p>
          </div>
          <div>
            <%# need for purgecss to get right names %>
            <div class="bg-emerald-400 bg-orange-400 bg-sky-400 bg-rose-400 hidden"></div>
            <span class="bg-<%= get_color_from_id(data.fasting_code) %>-400 p-1 px-2 rounded-full text-xs"><%= data.name %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to root_path do %>
    <div class="flex items-center justify-center hover:underline">
      <div class="h-4 w-4 border-t-4 border-t-black border-l-4 border-l-black -rotate-45 translate-y-1/2 mr-2"></div>
      <div>
        <h2 class="text-2xl mt-4 text-center">
          Back to Calendar
        </h2>
      </div>
    </div>
  <% end %>
</div>
